#one-shoe-container {
    width: 33%;
    /* border: 1px solid red; */
    margin-left: 2px;
    margin-right: 2px;
}

#shoe-image {
    max-width: 100%;
}

#show-page-text {
    text-align: center;
}

.links {
    text-decoration: none;
    color: inherit;
}